.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disclaimer-premium-music-container {
    display: flex;
    align-items: center;
}
.disclaimer-premium-music-info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.disclaimer-premium-music-info-text{
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.disclaimer-premium-music-info h4{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.disclaimer-premium-music-info h5{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.disclaimer-premium-music-info .disclaimer-premium-music-additional-controls-button{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

.disclaimer-premium-music-logo{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 16px;
    margin-left: 0;
}